body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto Mono", monospace;
  background-image: url("https://img.freepik.com/fotos-gratis/close-up-em-objetos-de-educacao-e-economia_23-2149113525.jpg?w=740");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
}

.page-title {
  color: #000;
  margin: 0 0 5px;
  text-shadow: 1px 1px white;
}

.page-subtitle {
  font-size: 18px;
  text-shadow: 1px 1px black;
  color: white;
  margin-top: 5px;
}

label {
  color: #000;
  text-shadow: 1px 1px white;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  width: 180px;
  font-size: 14px;
}

button {
  width: 30%;
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ccc;
  text-align: center;
  width: 20%;
}

.seletor {
  padding: 2px 4px;
  border-radius: 5px;
}

.resultado {
  font-weight: bold;
  width: 180px;
}
